@model FortuneTellerMVC.Models.Customer

@{
    ViewBag.Title = Model.FirstName + "'s Fortune";
}

<h2>@Model.FirstName's Fortune</h2>

<div>
    <h4></h4>
    <hr />
        @Model.FirstName @Model.LastName will retire in @ViewBag.NumberOfYears years with $@ViewBag.RetWith in the bank, a vacation home in @Model.NumOfSib.RetireLocal and @Model.FavColor.ModeOfTransport.
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
